.submenu {
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid #edeff0;
    display: flex;
    height: 48px;
}


.submenu .sidebar-toggle, .submenu nav, .submenu .submenu-search-wrap {
    display: flex;
}
.submenu nav a{
    box-sizing: border-box;
    min-width: 80px;
}
.submenu .submenu-search, .submenu .submenu-search-wrap {
    align-items: center;
}

.submenu .submenu-item {
    border-bottom: 3px solid transparent;
    padding: 11px 16px;
    transition: all ease-in 0.25s;
}

.submenu .submenu-search {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

.submenu .submenu-search .submenu-search-wrap {
    border-bottom: 1px solid #CBCACA;
    height: 32px;
}

.submenu .submenu-search input {
    outline: 0;
}

.submenu .submenu-search input, .submenu .submenu-search a {
    border: 0;
}

.more-menu{
    min-width: 75px;
}

.avatar{
    min-width: 175px;
}
.search{
    min-width: 200px;
}

.more-menu-contain{
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 100%;
}

.more-menu-contain{
    display :none;
}
.show{
    display: block;
}